TS_HOST="localhost"
TS_PORT="8080"
TS_PLATFORM="dev"

TS_DB_USER="postgres"
TS_DB_PASSWORD="postgres"
TS_DB_HOST="localhost"
TS_DB_PORT="5432"
TS_DB_NAME="taskscheduler_db"
TS_DB_SSLMODE="disable"

GOOSE_DRIVER="postgres"
GOOSE_DBSTRING="postgres://${TS_DB_USER}:${TS_DB_PASSWORD}@${TS_DB_HOST}:${TS_DB_PORT}/${TS_DB_NAME}"
GOOSE_MIGRATION_DIR="./sql/schema"